<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">

<h:head>

    <meta name="og:title" property="og:title" content="Thông tin phiếu khám UMC ngày: #{main_booking.booking_date.date}/#{main_booking.booking_date.month}" />
    <meta name="og:type" property="og:type" content="website" />
    <meta name="og:url" property="og:url" content="https://sematext.com/blog/java-logging/" />
    <meta name="og:image" property="og:image" content="https://docs.oracle.com/cd/E23507_01/Search.20073/ATGSearchQueryRef/html/common/images/logo.png" />
    <meta name="og:description" property="og:description" content="Tổng số phiếu khám ngày: #{main_booking.booking_date} là: #{main_booking.number}" />
</h:head>

<h:body>
    <h:form >

        <p:fieldset legend="Input Fields" toggleable="true" toggleSpeed="500">

            <p:outputLabel value="Booking date: " for="datePick" />
            <p:datePicker id="datePick" value="#{main_booking.booking_date}" pattern="yyyy-MM-dd" required="true"/>
            <p:commandButton value="Submit" action="#{secondController.submit}" update="data_table" />
            <p:outputLabel id="view" value="#{main_booking.booking_date} #{main_booking.number}" />

        </p:fieldset>

        <p:dataTable id="data_table" var="booking" value="#{main_booking.list()}" >
            <p:column headerText="Key">
                <h:outputText  value="#{booking.key}" />
            </p:column>

            <p:column headerText="Value">
                <h:outputText  value="#{booking.value}" />
            </p:column>

        </p:dataTable>

</h:form>
</h:body>
</html>
